/* NAV BAR LOGO_BACK BUTTON*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    width: 100%;
    background-color: #00b300;
}

.logo {
    size: 10px;
    position: absolute;
    left: 8%;
}

.back-button {
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 5%;
    display: inline-block;
}

.title {
    font-family: Verdana;
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    color: antiquewhite;
    padding: 2px 6px;
    text-decoration: none;
}

.MPbutton {
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border-radius: 42px;
    border: 2px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Verdana;
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
    padding: 2px 6px;
    text-decoration: none;
    position: relative;
}

.MPbutton:hover {
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffab23;
}

.MPbutton:active {
    position: relative;
    top: 1px;
}


/* END NAV BAR*/

@media screen and (max-width: 320px) and (max-height: 568px) {
    .logo {
        display: none;
    }
    .title {
        font-size: 10px;
        padding: 2px 6px;
    }
    .MPbutton {
        font-size: 4px;
        padding: 2px 6px;
    }
}

@media screen and (min-width: 321px) and (max-width: 414px) and (max-height: 736px) {
    .logo {
        top: 6px;
        left: 6px;
    }
    .title {
        font-size: 10px;
        padding: 2px 6px;
    }
    .MPbutton {
        font-size: 6px;
        padding: 2px 6px;
    }
}

@media screen and (min-width: 321px) and (max-width: 414px) and (min-height: 737px) and (max-height: 823px) {
    .logo {
        top: 6px;
        left: 6px;
    }
    .title {
        font-size: 10px;
        padding: 2px 6px;
    }
    .MPbutton {
        font-size: 6px;
        padding: 2px 6px;
    }
}

@media screen and (min-width: 415px) and (max-width: 768px) and (min-height: 824px) and (max-height: 1024px) {
    .title {
        font-size: 24px;
        padding: 2px 6px;
    }
    .MPbutton {
        font-size: 12px;
        padding: 2px 6px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) and (min-height: 1025px) and (max-height: 1366px) {
    .title {
        font-size: 24px;
        padding: 2px 6px;
    }
    .MPbutton {
        font-size: 12px;
        padding: 2px 6px;
    }
}